body {
    font-family: 'Noto Sans TC', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family:'Noto Sans TC',sans-serif;
}
.subheading{
	font-family:'Noto Sans TC',sans-serif;
}
h1 {
    font-size: 7rem;
    line-height: 7rem;
}
.subheading {
	font-size: 1.2rem;
}
p.lead {
    font-size: 1rem;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
	color: rgb(100,132,151);
}
h1.text-primary{
    font-size: 5rem;
    letter-spacing: -0.05rem;
    line-height: 3rem;
}
.bg-primary {
    background-color: rgb(159,160,160)!important;

}
.text-primary {
    color:(204,197,166)!important;
}